@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h5>Add an animal to maybe, potentially, be sacrificed</h5>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.DOA)
  @Html.EditorFor(model => model.DOA)
  @Html.LabelFor(model => model.Breed)
  @Html.TextBoxFor(model => model.Breed)
  @Html.LabelFor(model => model.BreedSub)
  @Html.TextBoxFor(model => model.BreedSub)
  <input type="submit" value="Add new animal" />
}